.w-100 {
    width: 60%!important;
    margin: 5%;
}

.fw-normal {
    font-weight: 400!important;
    padding: 10%;
}

.form-floating>.form-control, .form-floating>.form-select {
    height: calc(3.5rem + 2px);
    padding: 1rem 0.75rem;
}


body {
    margin: 0 auto;
    width: 1200px;
}